<div class="robot-detail-container">
  <mat-card class="robot-detail mission-detail">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>settings_applications</mat-icon>
        Paramètres
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table [dataSource]="missionDataSource" mat-table>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Nom de la mission</th>
          <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="distance">
          <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
          <td *matCellDef="let element" mat-cell> {{element.distance}} </td>
        </ng-container>

        <ng-container matColumnDef="elapsedTime">
          <th *matHeaderCellDef mat-header-cell> Temps écoulé</th>
          <td *matCellDef="let element" mat-cell> {{element.elapsedTime}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> État de la mission</th>
          <td *matCellDef="let element" mat-cell> {{element.status}} </td>
        </ng-container>

        <tr *matHeaderRowDef="missionDisplayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: missionDisplayedColumns;" mat-row></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngFor="let robot of robots" class="robot-detail">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>smart_toy</mat-icon>
        Robot #{{robot.id}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table [dataSource]="robotDataSource" mat-table>

        <ng-container matColumnDef="distance">
          <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
          <td *matCellDef="let element" mat-cell> {{element.distance}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> État</th>
          <td *matCellDef="let element" mat-cell> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="battery">
          <th *matHeaderCellDef mat-header-cell> Batterie</th>
          <td *matCellDef="let element" mat-cell> {{element.battery}}%</td>
        </ng-container>

        <ng-container matColumnDef="lastUpdate">
          <th *matHeaderCellDef mat-header-cell> Dernière connexion</th>
          <td *matCellDef="let element" mat-cell> {{element.lastUpdate | date:'medium'}} </td>
        </ng-container>

        <tr *matHeaderRowDef="robotDisplayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: robotDisplayedColumns;" mat-row></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="identify()" mat-icon-button>
        <mat-icon>notifications_active</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
