<div class="robot-detail-container">
  <div class="mission-detail">
    <ul>
      <li><b>Temps écoulé: </b>{{elapsedTime}}<br></li>
      <li><b>Mission commencée à: </b>{{missionStartedAt | date: 'HH:mm:ss'}}</li>
    </ul>

    <table [dataSource]="robotDataSource" mat-table>

      <ng-container matColumnDef="distance">
        <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
        <td *matCellDef="let element" mat-cell> {{element.distance}}m </td>
      </ng-container>

      <ng-container matColumnDef="battery">
        <th *matHeaderCellDef mat-header-cell> Batterie</th>
        <td *matCellDef="let element" mat-cell> {{element.battery}}%</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> Robot ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <tr *matHeaderRowDef="robotDisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: robotDisplayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
