<div class="robot-detail-container">
  <div class="mission-detail">
    <b>Temps écoulé: </b>{{elapsedTime}}
    <table [dataSource]="robotDataSource" mat-table>

      <ng-container matColumnDef="distance">
        <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
        <td *matCellDef="let element" mat-cell> {{element.distance}} </td>
      </ng-container>

      <ng-container matColumnDef="battery">
        <th *matHeaderCellDef mat-header-cell> Batterie</th>
        <td *matCellDef="let element" mat-cell> {{element.battery}}%</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> Dernière connexion</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <tr *matHeaderRowDef="robotDisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: robotDisplayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
