<mat-toolbar class="sticky-toolbar">
  <button (click)="this.toggleMission()" [disabled]="this.ongoingMission" class="toolbar-button" color="primary"
          mat-raised-button>Démarrer la mission
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button (click)="this.toggleMission()" [disabled]="!this.ongoingMission" class="toolbar-button" color="accent"
          mat-raised-button>Arrêter la mission
    <mat-icon>stop</mat-icon>
  </button>
  <span class="bar-spacer"></span>
  <button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [disabled]="!this.missionInitialized" mat-menu-item>
      <mat-icon>crisis_alert</mat-icon>
      <span>Ramener robots à la base</span>
    </button>
    <div *ngFor="let _ of batteries; let i = index">
      <button (click)="identifyRobots(i+1)" mat-menu-item>
        <mat-icon>notifications_active</mat-icon>
        <span>Identifier le robot #{{i + 1}}</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<div *ngIf="this.missionInitialized" class="accordion-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Détails de la mission
      </mat-panel-title>
      <mat-panel-description>
        Informations sur les robots et la mission
        <mat-icon>info</mat-icon>
      </mat-panel-description>
      <ng-template matExpansionPanelContent>
        <app-mission-details></app-mission-details>
      </ng-template>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Carte exploratoire en 3D
      </mat-panel-title>
      <mat-panel-description>
        Carte en temps réel de la zone d'exploration
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <h3>À venir</h3>
    </ng-template>
  </mat-expansion-panel>
  <div class="last-expansion-panel">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Journaux des robots
        </mat-panel-title>
        <mat-panel-description>
          Information brute renvoyée par les robots
          <mat-icon>feed</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-logs></app-logs>
      </ng-template>
    </mat-expansion-panel>
  </div>
</div>

<!-- If there's no current mission -->
<div *ngIf="!this.missionInitialized" class="no-mission-container">
  <span class="material-symbols-outlined">
    rocket_launch
  </span>
  <h2><b>Aucune mission d'exploration en cours...</b></h2>
  <p>Cliquez sur
    <mat-icon>play_arrow</mat-icon>
    pour lancer une nouvelle mission!
  </p>
</div>
