<div class="centered">
  <img alt="LIMO Robot" src="assets/limo.png"/>
  <h2>Bienvenue sur le tableau de bord de notre programme robotique d'exploration marsienne!</h2>
  <h4>Rendez-vous sur la barre de menu pour lancer une nouvelle mission</h4>
  <div *ngIf="robotsConnected.length === 0">
    <h4>Il n'y a pas de robots actuellement connecté, attendre quelques secondes ou rafraîchir</h4>
  </div>
  <div *ngIf="robotsConnected.length > 0">
    <h4>Robot connecté : {{ robotsConnected }}</h4>
  </div>
</div>
<div class="identify"> 
  <div *ngFor="let robot of robotsConnected" class="identify">
  <div class="status">
      <h2>Status robot #{{robot}}</h2>
      <!-- <div>État : {{ missionStatus.missionState }}</div> -->
      <div [ngSwitch]="missionStatus.missionState">
        <div *ngSwitchCase="missionstate.ONGOING">État : En cours</div>
        <div *ngSwitchCase="missionstate.ENDED">État : Terminé</div>
        <div *ngSwitchCase="missionstate.NOT_STARTED">État : Non démarré</div>
        <div *ngSwitchDefault>État : Inconnu</div>
      </div>
      <div><mat-icon>battery</mat-icon>Batterie : xx%</div>
      <button [disabled]="missionStatus.missionState === 'ongoing'" (click)="identifyRobots(robot)" mat-button>
        <mat-icon>smart_toy</mat-icon>
        Robot #{{robot}}<mat-icon>notifications_active</mat-icon> Identifier
        <div>{{idResponses[robot-1]}}</div>
      </button>
    </div>
  </div>
</div>

