<div class="info-container">
  <b matDialogTitle>Détails de la mission</b>
  <table [dataSource]="infoDataSource" mat-table>
    <ng-container matColumnDef="missionId">
      <th *matHeaderCellDef mat-header-cell>Numéro de la mission</th>
      <td *matCellDef="let element" mat-cell> {{element.missionId}} </td>
    </ng-container>

    <ng-container matColumnDef="elapsedTime">
      <th *matHeaderCellDef mat-header-cell>Temps écoulé</th>
      <td *matCellDef="let element" mat-cell> {{element.elapsedTime}}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell>Temps du lancement</th>
      <td *matCellDef="let element" mat-cell>{{element.timestamp | date: 'HH:mm:ss'}}</td>
    </ng-container>

    <ng-container matColumnDef="simulation">
      <th *matHeaderCellDef mat-header-cell>Simulation</th>
      <td *matCellDef="let element" mat-cell>{{element.isSimulation ? 'Oui' : 'Non'}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <b matDialogTitle>Informations système</b>
  <table [dataSource]="robotDataSource" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Robot ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell> État du robot</th>
      <td *matCellDef="let element" mat-cell> {{element.state}}</td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
      <td *matCellDef="let element" mat-cell> {{element.distance}}m</td>
    </ng-container>

    <ng-container matColumnDef="battery">
      <th *matHeaderCellDef mat-header-cell> Batterie</th>
      <td *matCellDef="let element" mat-cell> {{element.battery}}%</td>
    </ng-container>

    <ng-container matColumnDef="identify">
      <th *matHeaderCellDef mat-header-cell> Identifier</th>
      <td *matCellDef="let element" mat-cell>
        <button mat-icon-button [disabled]="this.missionState === MissionState.NOT_STARTED" (click)="identifyRobots(element.id)" mat-icon-button>
          <mat-icon>my_location</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="robotDisplayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: robotDisplayedColumns;" mat-row></tr>
  </table>
  <div *ngIf="this.robots.getValue().length === 0" class="">
    Aucun robot n'est disponible pour cette mission
  </div>
</div>
