map-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: center;
}

#map-canvas {
  border: 2px dashed #000000;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
}

.icon-text {
  display: flex;
  align-items: center;
}

.v-align-middle {
  vertical-align: middle;
}
