<div class="info-container"
     *ngIf="this.robots.getValue().length > 0">
  <table [dataSource]="robotDataSource" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Robot ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

  <ng-container matColumnDef="state">
    <th *matHeaderCellDef mat-header-cell> État du robot</th>
    <td *matCellDef="let element" mat-cell>
      {{element.state === RobotState.MOVING ? "En déplacement" : 
        element.state === RobotState.HEAD_BACK_BASE ? "En retour à la base" : 
        element.state === RobotState.IDLE ? "En veille" : 
        element.state === RobotState.IDENTIFYING ? "En cours d'identification" : 
        ""}}
    </td>
  </ng-container>

    <ng-container matColumnDef="distance">
      <th *matHeaderCellDef mat-header-cell> Distance parcourue</th>
      <td *matCellDef="let element" mat-cell> {{element.distance | number: '1.0-2'}}m</td>
    </ng-container>

    <ng-container matColumnDef="battery">
      <th *matHeaderCellDef mat-header-cell> Batterie</th>
      <td *matCellDef="let element" mat-cell> {{element.battery | number: '1.0-2'}}%</td>
    </ng-container>

    <ng-container matColumnDef="identify">
      <th *matHeaderCellDef mat-header-cell> Identifier</th>
      <td *matCellDef="let element" mat-cell>
        <button [disabled]="isTimemachine" mat-icon-button
                (click)="identifyRobots(element.id)">
          <mat-icon>my_location</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="robotDisplayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: robotDisplayedColumns;" mat-row></tr>
  </table>
  <button (click)="toggleHeadBack()"
          *ngIf="!isTimemachine"
          mat-raised-button
          [disabled]="missionState !== MissionState.ONGOING">
    Retourner à la base
    <mat-icon fontSet="material-symbols-sharp">family_home</mat-icon>
  </button>
</div>
<div *ngIf="this.robots.getValue().length === 0" class="no-mission-container">
  <span class="material-symbols-outlined">
    rocket_launch
  </span>
  <h2>Aucun robot n'est encore connecté au serveur</h2>
</div>
