.bar-spacer {
  flex: 1 1 auto;
}

.uppercase {
  text-transform: uppercase;
}

.toolbar-no-overflow {
  overflow: hidden;
}

button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}
