<div>
  <table [dataSource]="sortedData" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Log ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="robotId">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Robot ID</th>
      <td *matCellDef="let element" mat-cell> {{element.robotId}} </td>
    </ng-container>

    <ng-container class="log-message" matColumnDef="message">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Message</th>
      <td *matCellDef="let element" mat-cell> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Timestamp</th>
      <td *matCellDef="let element" mat-cell> {{element.timestamp}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>

