.title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  height: 100%;
  width: 100%;
}


.mat-header-cell {
  font-size: large;
}

.mat-mdc-cell.mat-column-message {
  font-family: monospace;
  font-size: smaller;
  padding: 4px;
}
