<div class="mat-table-wrapper">
  <mat-chip-listbox>
    <mat-chip-option *ngFor="let filter of availableFilters" [selected]="activeFilters.has(filter)" (click)="toggleFilter(filter)">
      {{ filter }}
    </mat-chip-option>
  </mat-chip-listbox>
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="eventType">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Event Type</th>
      <td *matCellDef="let element" mat-cell> {{element.eventType}} </td>
    </ng-container>

    <ng-container matColumnDef="robotId">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Robot ID</th>
      <td *matCellDef="let element" mat-cell> {{element.robotId}} </td>
    </ng-container>

    <ng-container class="log-message" matColumnDef="message">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Message</th>
      <td *matCellDef="let element" mat-cell> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Timestamp</th>
      <td *matCellDef="let element" mat-cell> {{element.timestamp * 1000 | date: 'medium'}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>

