<mat-toolbar *ngIf="!isTimeMachine" class="sticky-toolbar toolbar-no-overflow">
  Mission
  <span class="bar-spacer"></span>
  <button (click)="this.toggleMission()" [disabled]="missionState === MissionState.ONGOING" class="toolbar-button"
          color="primary"
          matTooltip="{{missionState === MissionState.ENDED ? 'Redémarrer mission' : 'Lancer mission'}}"
          mat-icon-button>
    <mat-icon>{{this.missionState === MissionState.ENDED ? 'refresh' : 'play_arrow'}}</mat-icon>
  </button>
  <button (click)="this.toggleMission()" [disabled]="missionState !== MissionState.ONGOING" class="toolbar-button"
          color="accent"
          matTooltip="Arrêter mission"
          mat-icon-button>
    <mat-icon>stop</mat-icon>
  </button>
  <button (click)="toggleHeadBackBase()" matTooltip="Ramener les robots à la base" mat-icon-button>
    <mat-icon>crisis_alert</mat-icon>
  </button>
</mat-toolbar>


<div class="accordion-headers-align">
  <mat-expansion-panel class="accordion-headers-align" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Paramètres
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>explore</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-mission [status]="status"></app-mission>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel class="accordion-headers-align" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Information système
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>smart_toy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-robots-view [robots]="robots"></app-robots-view>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="!(this.missionState === MissionState.NOT_STARTED)" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Carte exploratoire en 3D
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div *ngIf="!this.mapInitialized" class="no-mission-container">
    <span class="material-symbols-outlined">
    route
  </span>
        <h2><b>La carte n'est pas encore disponible...</b></h2>
      </div>
      <app-map-view *ngIf="!mapInitialized" [map]="map" [robots]="robots"></app-map-view>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="!(this.missionState === MissionState.NOT_STARTED)" [expanded]="true"
                       class="last-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Journaux des robots
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>feed</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-logs [logs]="logs"></app-logs>
    </ng-template>
  </mat-expansion-panel>
</div>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
