.bar-spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel {
  margin: 16px;
}

mat-expansion-panel {
  margin-right: 32px;
  margin-left: 32px;
}

.toolbar-button {
  margin: 8px;
  text-transform: uppercase;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.accordion-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

mat-card-title > mat-icon {
  margin-top: 4px;
  margin-right: 4px;
}

.no-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 25vh;
  color: lightgray;
}

.no-mission-container h2 {
  color: lightgray;
}

.no-mission-container p {
  color: lightgray;
}

.sticky-toolbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.robot-detail {
  margin: 8px;
  display: inline-block;
}

.robot-detail-container {
  overflow-x: auto;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  z-index: 1001;
}

.toolbar-no-overflow {
  overflow: hidden;
}

button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}
