<div class="centered">
  <div class="mat-elevation-z8">
    <table [dataSource]="data" class="mat-elevation-z8" mat-table>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> Robot ID</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Module</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th *matHeaderCellDef mat-header-cell> Horodatage</th>
        <td *matCellDef="let element" mat-cell> {{element.age}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator></mat-paginator>
</div>
