.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.no-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 300px;
  color: lightgray;
}

.no-mission-container h2 {
  color: lightgray;
}

.no-mission-container p {
  color: lightgray;
}

.white-toolbar {
  background-color: transparent;
}


