.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 4px;
}


.no-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.material-symbols-outlined {
  font-size: 300px;
  color: lightgray;
}

.no-mission-container h2 {
  color: lightgray;
}

.no-mission-container p {
  color: lightgray;
}


